.ticket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  max-width: 1490pxs;
}
.header-back {
  display: flex;
  align-items: center;
  gap: 7px;
}
.btn-edit button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 78px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #e9eaea;

  background: #f9f9f9;
}
.btn-edit span {
  color: #1c1c28;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
