<section class="search">
  <div class="search-action">
    <h3>Ticket sales</h3>
    <div class="search-filed">
      <img src="./assets/search-normal.png" alt="search-icon" />
      <input type="search" placeholder="Search ..." results />
    </div>
    <button><img src="./assets/updown.png " /></button>
    <button><img src="./assets/setting.png" /></button>
  </div>
  <div class="sumbit-ticket">
    <input type="checkbox" class="toogal" />
    <h4>Activated</h4>
    <button class="reserve">Book a new ticket</button>
  </div>
</section>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>the user</th>
      <th>ticket number</th>
      <th>
        Rate the ticket
        <svg
          width="15"
          height="16"
          viewBox="0 0 15 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.50239 5.02457C6.38413 5.02457 6.26585 4.98102 6.17248 4.88765L4.18691 2.90209L2.20135 4.88765C2.02084 5.06816 1.72207 5.06816 1.54157 4.88765C1.36106 4.70715 1.36106 4.40838 1.54157 4.22787L3.85704 1.9124C3.94418 1.82526 4.06243 1.77548 4.18691 1.77548C4.3114 1.77548 4.42968 1.82526 4.51682 1.9124L6.83226 4.22787C7.01276 4.40838 7.01276 4.70715 6.83226 4.88765C6.73889 4.98102 6.62065 5.02457 6.50239 5.02457Z"
            fill="#292D32"
          />
          <path
            d="M4.1868 13.9129C3.9316 13.9129 3.71997 13.7013 3.71997 13.4461V2.24231C3.71997 1.98711 3.9316 1.77548 4.1868 1.77548C4.44199 1.77548 4.65362 1.98711 4.65362 2.24231V13.4461C4.65362 13.7013 4.44199 13.9129 4.1868 13.9129Z"
            fill="#292D32"
          />
          <path
            d="M10.7534 13.9129C10.629 13.9129 10.5107 13.8631 10.4235 13.776L8.1081 11.4605C7.92759 11.28 7.92759 10.9813 8.1081 10.8008C8.2886 10.6202 8.58737 10.6202 8.76788 10.8008L10.7534 12.7863L12.739 10.8008C12.9195 10.6202 13.2183 10.6202 13.3988 10.8008C13.5793 10.9813 13.5793 11.28 13.3988 11.4605L11.0833 13.776C10.9962 13.8631 10.8717 13.9129 10.7534 13.9129Z"
            fill="#292D32"
          />
          <path
            d="M10.7473 13.9129C10.4921 13.9129 10.2805 13.7013 10.2805 13.4461V2.24231C10.2805 1.98711 10.4921 1.77548 10.7473 1.77548C11.0025 1.77548 11.2141 1.98711 11.2141 2.24231V13.4461C11.2141 13.7013 11.0087 13.9129 10.7473 13.9129Z"
            fill="#292D32"
          />
        </svg>
      </th>
      <th>Cinemas</th>
      <th>The number of people</th>
      <th>Number of purchases</th>
      <th>The ticket</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>1</th>
      <td>
        <div class="person">
          <span>Ma</span>
          <div class="person_info">
            <h2>Ahmed Mahmoud</h2>
            <h6>0123456789</h6>
          </div>
        </div>
      </td>
      <td class="english_table">C-101</td>
      <td class="english_table">$40</td>
      <td>
        <div class="tooltip-top">
          Cinema Misr, Mall of Arabia, Burj Al-Atan, Saraya Al-Qubba...
          <span class="tooltiptext"> Sidnawi Mall, Burj Al Arab </span>
        </div>
      </td>
      <td>1</td>
      <td>Once</td>
      <td>
        <div class="ticket">
          <span class="ticket-icon">
            <img src="./assets/bagesIcon.png" alt="pagesIcon" />
          </span>
          <div class="ticket-number">
            <h4>Ticket No. 45.pdf</h4>
            <h6>9mb . PDF</h6>
          </div>
          <div class="ticket-button">
            <img src="./assets/downloadicon.png" alt="download" />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <div class="person">
          <img src="./assets/Avatar2.png" alt="avatar" />
          <!-- <span>Ma</span> -->
          <div class="person_info">
            <h2>Muhammad Al-Ghareeb</h2>
            <h6>0123456789</h6>
          </div>
        </div>
      </td>
      <td class="english_table">C-102</td>
      <td class="english_table">$30</td>
      <td>Cinema Misr, Mall of Arabia, Burj Al-Atan, Saraya Al-Qubba...</td>
      <td>1</td>
      <td>Once</td>
      <td>
        <div class="ticket">
          <span class="ticket-icon">
            <img src="./assets/bagesIcon.png" alt="pagesIcon" />
          </span>
          <div class="ticket-number">
            <h4>Ticket No. 45.pdf</h4>
            <h6>9mb . PDF</h6>
          </div>
          <div class="ticket-button">
            <img src="./assets/downloadicon.png" alt="download" />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>3</th>
      <td>
        <div class="person">
          <img src="./assets/Avatar.png" alt="avatar" />
          <!-- <span>Ma</span> -->
          <div class="person_info">
            <h2>Muhammad Al-Ghareeb</h2>
            <h6>0123456789</h6>
          </div>
        </div>
      </td>
      <td class="english_table">C-102</td>
      <td class="english_table">$45</td>
      <td>Cinema Misr, Mall of Arabia, Burj Al-Atan, Saraya Al-Qubba...</td>
      <td>1</td>
      <td>Once</td>
      <td>
        <div class="ticket">
          <span class="ticket-icon">
            <img src="./assets/bagesIcon.png" alt="pagesIcon" />
          </span>
          <div class="ticket-number">
            <h4>Ticket No. 45.pdf</h4>
            <h6>9mb . PDF</h6>
          </div>
          <div class="ticket-button">
            <img src="./assets/downloadicon.png" alt="download" />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>4</th>
      <td>
        <div class="person">
          <span style="background: #898e95">Ma</span>
          <div class="person_info">
            <h2>Muhammad Al-Ghareeb</h2>
            <h6>0123456789</h6>
          </div>
        </div>
      </td>
      <td class="english_table">C-103</td>
      <td class="english_table">$54</td>
      <td>Cinema Misr, Mall of Arabia, Burj Al-Atan, Saraya Al-Qubba...</td>

      <td>1</td>
      <td>Once</td>
      <td>
        <div class="ticket">
          <span class="ticket-icon">
            <img src="./assets/bagesIcon.png" alt="pagesIcon" />
          </span>
          <div class="ticket-number">
            <h4>Ticket No. 45.pdf</h4>
            <h6>9mb . PDF</h6>
          </div>
          <div class="ticket-button">
            <img src="./assets/downloadicon.png" alt="download" />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="controls wow animate__animated animate__backInUp">
  <div class="select">
    <p>Display</p>
    <div class="display-count">
      <select name="rows" id="row">
        <option value="20">20</option>
        <option value="40">100</option>

        <option value="100">250</option>
      </select>
      <img src="./assets/Chevron Down.png" />
    </div>
    <p>Out of 250</p>
  </div>
  <div class="pagantion">
    <img src="./assets/RightArrow.png" />
    <li class="active">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <img src="./assets/leftArrow.png" />
  </div>
</div>
