<section class="card wow animate__animated animate__backInRight">
  <div class="cicle left"></div>
  <div class="cicle right"></div>
  <div class="btn">
    <button class="tooltip-bottom">
      <img src="./assets/trash.png" alt="trash" />
      <span class="tooltiptext">{{ "DEL" | translate }}</span>
    </button>
  </div>
  <div class="bar-code" [ngClass]="{ barCodeAr: lang === 'ar' }">
    <img src="./assets/qrCode.png" />
  </div>
  <div class="ticket_title">
    <h2>{{ "VIEWTICKET" | translate }}</h2>
  </div>
  <div class="ticket_site">
    <div class="ticket-layout">
      <p>www.tazkty.com/473847</p>
      <img src="./assets/books.png" />
    </div>
  </div>
  <div class="exp">
    <p>{{ "EXPIRATION" | translate }}</p>
  </div>
  <h6 class="discount">{{ "DISCOUNT" | translate }}</h6>
  <div class="percent">
    <h3>{{ discount }}%</h3>
    <button class="btn-share">
      <img *ngIf="lang === 'ar'" src="./assets/send.png" />
      <p>{{ "SHARE" | translate }}</p>
      <img *ngIf="lang === 'en'" src="./assets/send.png" />
    </button>
  </div>
</section>
