<section class="card wow animate__animated animate__backInRight">
  <div class="cicle left"></div>
  <div class="cicle right"></div>
  <div class="btn">
    <button class="tooltip-bottom">
      <img src="./assets/trash.png" alt="trash" />
      <span class="tooltiptext">del</span>
    </button>
  </div>
  <div class="bar-code">
    <img src="./assets/qrCode.png" />
  </div>
  <div class="ticket_title">
    <h2>View the movie ticket</h2>
  </div>
  <div class="ticket_site">
    <div class="ticket-layout">
      <p>www.tazkty.com/473847</p>
      <img src="./assets/books.png" />
    </div>
  </div>
  <div class="exp">
    <p>Effective until {{ date }}</p>
  </div>
  <h6 class="discount">Discount</h6>
  <div class="percent">
    <h3>{{ discount }}%</h3>
    <button class="btn-share">
      <p>Share</p>
      <img src="./assets/send.png" />
    </button>
  </div>
</section>
