<div class="grid">
  <div class="graph wow animate__animated animate__backInLeft">
    <div class="stats">
      <div class="stats-head">
        <h3>{{ "STAT" | translate }}</h3>
        <h4>{{ "STATDATE" | translate }}</h4>
      </div>
      <div class="year-btn">
        <button>
          <span>{{ "YEARLY" | translate }}</span>
          <img
            src="./assets/down-icon.png"
            alt="down-icon"
            style="margin: 0px 3px"
          />
        </button>
      </div>
    </div>
    <div class="chart" id="myChart" [ngClass]="{ myChartAr: lang === 'ar' }">
      <canvas #canvas class="chart"></canvas>
    </div>
    <div class="years">
      <p>{{ "JAN" | translate }}</p>
      <p>{{ "FEB" | translate }}</p>
      <p>{{ "MAR" | translate }}</p>
      <p>{{ "APR" | translate }}</p>
      <p>{{ "MAI" | translate }}</p>
      <p>{{ "JUN" | translate }}</p>
      <p>{{ "JUL" | translate }}</p>
      <p>{{ "AGU" | translate }}</p>
      <p>{{ "SEP" | translate }}</p>
      <p>{{ "OCT" | translate }}</p>
      <p>{{ "NOV" | translate }}</p>
      <p>{{ "DEC" | translate }}</p>
    </div>
  </div>
</div>
